
<%= form_with(model: qr_code_position, local: true) do |f| %>
  <% if qr_code_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qr_code_position.errors.count, "error") %> prohibited this qr_code_position from being saved:</h2>

      <ul>
      <% qr_code_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <%= t('qrcode.form.page') %> *
    </div>
    <div class="col-md-2">
      <%= f.number_field :page, class: "input-shorter", tabindex: 1 %>
    </div>
    <div class="col-md-8 grey">
      <%= t('qrcode.form.page_info') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 mm">
      <%= t('qrcode.form.x') %> [mm] *
    </div>
    <div class="col-md-2">
      <%= f.number_field :x, class: "input-shorter", tabindex: 2 %>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-2 mm">
      <%= t('qrcode.form.y') %> [mm] *
    </div>
    <div class="col-md-2">
      <%= f.number_field :y, class: "input-shorter", tabindex: 3 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 mm">
      <%= t('qrcode.form.size') %> [mm] *
    </div>
    <div class="col-md-2">
      <%= f.number_field :size, class: "input-shorter", tabindex: 4 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('qrcode.form.name') %> *
    </div>
    <div class="col-md-4">
      <%= f.text_field :name, tabindex: 5 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= f.submit t('qrcode.submit') %>
      <%= link_to t('qrcode.cancel'), :back, class: "btn" %>
    <div>
  </div>
<% end %>
