
<div class="page">
  <% if notice %>
  <div class="tile center login danger">
  <% else %>
  <div class="tile center login">
  <% end %>
    <%= form_with url: session_path do |f| %>
      <div class="row">
        <div class="col-md-8 ">
          <h1><%= t('session.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= t('session.email') %>
        </div>
        <div class="col-md-8">
          <%= f.email_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= t('session.password') %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= f.submit t('session.submit') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
