<h1>Projects</h1>

<table class="table">
  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.id, project_path(project.id) %></td>
      <td><%= "#{project.identifier} - #{project.name}" %></td>
      <td><%= "Documents : #{project.documents_count}" %><br>
          <%= "Versions : #{project.versions_count}" %></td>
      <td>Owner: <%= project.user.email %></td>
      <td><%= "Accesses : #{project.accesses_count}" %></td>
      <td><%= "Created at : #{project.created_at.strftime("%d.%m.%Y %T")}" %><br>
          <%= "Last update at : #{project.updated_at.strftime("%d.%m.%Y %T")}" %></td>
    </tr>
  <% end %>
</table>