<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-2">
      <%= t('user.form.first_name') %> *
    </div>
    <div class="col-md-4">
      <%= f.text_field :first_name, tabindex: 1 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('user.form.last_name') %> *
    </div>
    <div class="col-md-4">
      <%= f.text_field :last_name, tabindex: 2 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('user.form.email') %> *
    </div>
    <div class="col-md-4">
      <%= f.text_field :email, tabindex: 3 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('user.form.password') %> *
    </div>
    <div class="col-md-4">
      <%= f.password_field :password, tabindex: 4 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('user.form.password_confirmation') %> *
    </div>
    <div class="col-md-4">
      <%= f.password_field :password_confirmation, tabindex: 5 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('user.form.phone') %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :phone, tabindex: 6 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('user.form.company') %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :company, tabindex: 7 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('user.form.discipline') %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :discipline, tabindex: 8 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <%= f.check_box :terms_of_service %>
      <%= t('user.form.terms_of_service') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= f.submit t('user.submit'), tabindex: 9 %>
      <%= link_to t('user.cancel'), :back, class: "btn" %>
    </div>
  </div>
<% end %>
