<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>


<div class="row">
  <div class="col-md-2">
    <%= t('user.show.first_name') %>
  </div>
  <div class="col-md-4">
    <%= @user.first_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= t('user.show.last_name') %>
  </div>
  <div class="col-md-4">
    <%= @user.last_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= t('user.show.email') %>
  </div>
  <div class="col-md-4">
    <%= mail_to @user.email %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= t('user.show.phone') %>
  </div>
  <div class="col-md-4">
    <%= @user.phone %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= t('user.show.company') %>
  </div>
  <div class="col-md-4">
    <%= @user.company %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= t('user.show.discipline') %>
  </div>
  <div class="col-md-4">
    <%= @user.discipline %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <%= link_to t('user.close'), :back, class: "btn" %>
  </div>
</div>

