<%= form_with(model: document, local: true) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <%= t('document.form.qrcode-layout') %> *
    </div>
    <div  class="col-md-4">
    <% if @qr_code_positions.any? %>
      <%= f.select :position, options_for_select(@qr_code_positions, @document.qr_code_position ? @document.qr_code_position.name : "") %>
    <% else %>
      <%= link_to t('document.form.create_new_layout'), new_qr_code_position_path, class: "btn sharp" %>
    <% end %>
    </div>
    <div class="col-md-6">
    <%= link_to t('document.form.manage_layouts'), qr_code_positions_path, class: "btn sharp" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('document.form.identifier') %> *
    </div>
    <div class="col-md-4">
      <%= f.text_field :identifier, tabindex: 1 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('document.form.name') %> *
    </div>
    <div class="col-md-4">
      <%= f.text_field :title, tabindex: 2 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('document.form.sub_title') %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :sub_title, tabindex: 3 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('document.form.doc_type') %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :doc_type, tabindex: 4 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= t('document.form.size') %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :size, tabindex: 5 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= f.submit t('document.submit'), class: "btn", tabindex: 7 %>
      <%= link_to t('document.back'), documents_path, class: "btn" %>
    </div>
  </div>
  
<% end %>
