<h1><%= "#{t('document.index.title')} : #{current_project.identifier} - #{current_project.name}" %></h1>

<%= link_to t('document.index.new_document'), new_document_path, class: "btn" %>
<%= link_to t('document.back'), projects_path, class: "btn"%>


<table class="table">
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td class="middle">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('document.edit_button'), edit_document_path(document) %></li>
              <li>
                <% if policy(document).destroy? %>
                  <%= link_to t('document.delete'), document, method: :delete, data: { confirm: 'Are you sure?' }, class: "danger" %>
                <% end %>
              </li>
              <li><%= link_to t('document.index.add_version'),   {controller: :documents, action: :move_to_version, id: document.id, new: true} %></li> 
              <li><%= link_to t('document.index.show_versions'), {controller: :documents, action: :move_to_version, id: document.id, new: false} %></li>
            </ul>
          </div>
        </td>
        <td class="middle">
          <h4>
          <%= link_to controller: :documents, action: :move_to_version, id: document.id, new: false do %>
            <%= document.identifier %>
          <% end %>
          </h4>
        </td>
        <td class="middle">
          <strong><%= document.title %></strong>
        </td>
        <td class="middle">
          <%= document.sub_title %>
        </td>

        <td class="middle">
          <%= "#{document.doc_type}" %>
        </td>
        <td class="middle">
          <%= "#{document.size}" %>
        </td>

        <td class="middle">
          <%= document.qr_code_position.name %>
        </td>

        <td class="middle">
          <%= "#{t('document.index.current_version')} : #{document.last_version}" %>
        </td>
        <td class="middle">
          <%= "#{t('document.index.current_version_date')} : #{document.last_version_date}" %>
        </td>
        <td class="middle">
          <%= "#{t('document.index.versions')} : #{document.versions_count}" %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

