<h1><%= t('document.title') %></h1>



<%= link_to t('document.index.new_document'), new_document_path, class: "btn" %>

<table class="table">
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td class="middle">
          <h4><%= document.identifier %></h4>
        </td>
        <td class="middle">
          <strong><%= document.title %></strong><br>
          <%= document.sub_title %>
        </td>

        <td class="middle">
          <%= "#{document.doc_type}" %><br>
          <%= "#{document.size}" %>
        </td>

        <td class="middle">
          <%= link_to t('document.edit.title'), edit_document_path(document), class: "btn" %> 
          <%= link_to t('document.delete'), document, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn danger" %>
        </td>

        <td width="50px"></td>

        <td class="middle">
          <%= "#{t('document.index.current_version')} : #{'A'}" %><br>
          <%= "#{t('document.index.current_version_date')} : #{'26.02.2017'}" %><br>
          <%= "#{t('document.index.versions')} : #{document.versions_count}" %>
        </td>
        
        <td class="middle">
          <%= link_to 'Add version',   {:controller => :documents, :action => :move_to_version, :id => document.id, :new => true},  class: "btn" %> 
          <%= link_to 'Show versions', {:controller => :documents, :action => :move_to_version, :id => document.id, :new => false}, class: "btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

