<%= form_with model: project, local: true do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-2">
      <h2><%= t('project.form.project') %></h2>
    </div>
    <div class="col-md-2 offset-md-4">
      <h2><%= t('project.form.client.client') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <%= t('project.form.name') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :name %>
    </div>
    <div class="col-md-1 offset-md-1">
      <%= t('project.form.client.name') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :client_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <%= t('project.form.identifier') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :identifier %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <%= t('project.form.address') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :address %>
    </div>
    <div class="col-md-1 offset-md-1">
      <%= t('project.form.client.address') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :client_address %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <%= t('project.form.npa') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :npa %>
    </div>
    <div class="col-md-1 offset-md-1">
      <%= t('project.form.client.npa') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :client_npa %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <%= t('project.form.city') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :city %>
    </div>
    <div class="col-md-1 offset-md-1">
      <%= t('project.form.client.city') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :client_city %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <%= t('project.form.country') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :country %>
    </div>
    <div class="col-md-1 offset-md-1">
      <%= t('project.form.client.country') %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :client_country %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.submit t('project.submit'), class: "btn" %>
      <%= link_to t('project.cancel'), projects_path, class: "btn" %>
    </div>
  </div>
  
<% end %>
