
<h1><%= t('project.index.title') %></h1>


<% @projects.each do |project| %>
  <div class="tile">

    <div class="dropdown edit-icon">
      <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-chevron-down"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to t('project.index.detail'),    controller: :projects, action: :move_to_detail, id: project.id %></li>
        <li><%= link_to t('project.index.user'),      controller: :projects, action: :move_to_access, id: project.id %></li>
        <li><%= link_to t('project.index.documents'), controller: :projects, action: :move_to_document, id: project.id %></li>
      </ul>
    </div>

    <%= link_to controller: :projects, action: :move_to_document, id: project.id do %>
      <h3><%= "#{project.identifier}" %></h3>
      <h4><%= "#{project.name}" %></h4>
      <p><%= "#{t('project.index.docs_count')} : #{project.documents_count}" %><br>
         <%= "#{t('project.index.versions_count')} : #{project.versions_count}" %><br>
         <%= "#{t('project.index.accesses_count')} : #{project.accesses_count}" %></p>
    <% end %>
  </div>
<% end %>


<div class="tile add_project">
  <%= link_to new_project_path do %>
    <span class="super-large-symbol center">
      <%= t('project.index.new_project') %>
    </span>
  <% end %>
</div>
