
<h1><%= "#{t('project.show.title')} : #{@project.name}" %></h1>

<div class="row">
  <div class="col-md-7">
    <div class="row">

      <div class="col-md-6">
        <h2><%= t('project.show.project') %></h2>
      </div>

      <div class="col-md-6">
        <h2><%= t('project.show.client.client') %>
      </div>

    </div>
    <div class="row">

      <div class="col-md-2">
        <%= t('project.show.name') %> 
      </div>
      <div class="col-md-4">
        <%= @project.name %>
      </div>

      <div class="col-md-2">
        <%= t('project.show.client.name') %>
      </div>
      <div class="col-md-4">
        <%= @project.client_name %>
      </div>

    </div>
    <div class="row">

      <div class="col-md-2">
        <%= t('project.show.identifier') %>
      </div>
      <div class="col-md-4">
        <%= @project.identifier %>
      </div>

    </div>
    <div class="row">

      <div class="col-md-2">
        <%= t('project.show.address') %>
      </div>
      <div class="col-md-4">
        <%= @project.address %>
      </div>

      <div class="col-md-2">
        <%= t('project.show.client.address') %>
      </div>
      <div class="col-md-4">
        <%= @project.client_address %>
      </div>

    </div>
    <div class="row">

      <div class="col-md-2">
        <%= t('project.show.npa') %>
      </div>
      <div class="col-md-4">
        <%= @project.npa %>
      </div>

      <div class="col-md-2">
        <%= t('project.show.client.npa') %>
      </div>
      <div class="col-md-4">
        <%= @project.client_npa %>
      </div>

    </div>
    <div class="row">

      <div class="col-md-2">
        <%= t('project.show.city') %>
      </div>
      <div class="col-md-4">
        <%= @project.city %>
      </div>

      <div class="col-md-2">
        <%= t('project.show.client.city') %>
      </div>
      <div class="col-md-4">
        <%= @project.client_city %>
      </div>

    </div>
    <div class="row">

      <div class="col-md-2">
        <%= t('project.show.country') %>
      </div>
      <div class="col-md-4">
        <%= @project.country %>
      </div>

      <div class="col-md-2">
        <%= t('project.show.client.country') %>
      </div>
      <div class="col-md-4">
        <%= @project.client_country %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t('project.show.owner') %>
      </div>
      <div class="col-md-4">
        <%= "#{@project.user.first_name} #{@project.user.last_name}" %>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('project.show.users') %></h2>
        <table>
        <% @accesses.each do |access| %>
          <tr>
            <td class="no-line"><%= access.user.email %></td> 
            <td class="no-line">(<%= t('access.role.'+access.role) %>)</td>
          </tr>
        <% end %>
        </table>
        <% if policy(@project).accesses? %>
          <%= link_to t('project.show.accesses'), accesses_path, class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <% if policy(@project).update? %>
      <%= link_to t('project.edit_button'), edit_project_path(@project), class: "btn" %>
    <% end %>
    <%= link_to t('project.cancel'), projects_path, class: "btn" %> 
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <% if policy(@project).destroy? %>
      <%= link_to t('project.delete_button'), @project, method: :delete, data: { confirm: t('project.delete_confirmation')}, class: "btn danger sharp" %>
    <% end %>
  </div>
</div>
