

<h1>Versions</h1>

<%= link_to 'New Version', new_version_path, class: "btn" %>
<%= link_to 'Back to documents', documents_path, class: "btn" %>

<table class="table">
  <thead>
    <tr>
      <th class="text-center">Version</th>
      <th class="text-center">Date</th>
      <th class="text-center">Author</th>
      <th class="text-center">Checker</th>
      <th class="text-center">Current version</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td class="middle text-center"><%= version.version_number %></td>
        <td class="middle text-center"><%= version.date %></td>
        <td class="middle text-center"><%= version.author %></td>
        <td class="middle text-center"><%= version.checker %></td>
        <td class="middle text-center">
        <% if version.current_version %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <%= link_to 'Make current', {:controller => :versions, :action => :make_current, :id => version.id} , class: "btn sharp" %>
        <% end %>
        </td>
        <td class="middle"><%= version.comments %></td>
        <td class="middle"><%= link_to 'Show', version, class: "btn sharp" %> 
          <%= link_to 'Edit', edit_version_path(version), class: "btn sharp" %> 
          <%= link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn danger sharp" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
