

<h1><%= "#{t('version.index.title')} : #{current_document.identifier} - #{current_document.title}" %></h1>

<%= link_to t('version.index.add'), new_version_path, class: "btn" %>
<%= link_to t('version.index.back'), documents_path, class: "btn" %>

<table class="table">
  <thead>
    <tr>
      <th class="text-center"><%= t('version.index.version') %></th>
      <th class="text-center"><%= t('version.index.date') %></th>
      <th class="text-center"><%= t('version.index.author') %></th>
      <th class="text-center"><%= t('version.index.checker') %></th>
      <th class="text-center"><%= t('version.index.current_version') %></th>
      <th><%= t('version.index.comments') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td class="middle text-center"><%= version.version_number %></td>
        <td class="middle text-center"><%= version.date %></td>
        <td class="middle text-center"><%= version.author %></td>
        <td class="middle text-center"><%= version.checker %></td>
        <td class="middle text-center">
        <% if version.current_version %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <%= link_to t('version.index.make_current'), {:controller => :versions, :action => :make_current, :id => version.id} , class: "btn sharp" %>
        <% end %>
        </td>
        <td class="middle"><%= version.comments %></td>
        <td class="middle right">
          <%= link_to t('version.index.edit'), edit_version_path(version), class: "btn sharp" %>
          <%= link_to t('version.index.delete'), version, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn danger sharp" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
