

<h1>Versions</h1>

<%= link_to 'New Version', new_version_path, class: "btn" %>
<%= link_to 'Back to documents', documents_path, class: "btn" %>

<table class="table">
  <thead>
    <tr>
      <th>Version number</th>
      <th>Date</th>
      <th>Author</th>
      <th>Checker</th>
      <th>Current version</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td class="middle"><%= version.version_number %></td>
        <td class="middle"><%= version.date %></td>
        <td class="middle"><%= version.author %></td>
        <td class="middle"><%= version.checker %></td>
        <td class="middle"><%= radio_button_tag 'current', version.current_version, version.current_version %></td>
        <td class="middle"><%= version.comments %></td>
        <td class="middle"><%= link_to 'Show', version, class: "btn btn-sharp" %> 
          <%= link_to 'Edit', edit_version_path(version), class: "btn btn-sharp" %> 
          <%= link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn danger btn-sharp" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
