

<h1><%= "#{t('version.index.title')} : #{current_document.identifier} - #{current_document.title}" %></h1>

<%= link_to t('version.index.add'), new_version_path, class: "btn" %>
<%= link_to t('version.back'), documents_path, class: "btn" %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class="text-center"><%= t('version.index.version') %></th>
      <th class="text-center"><%= t('version.index.date') %></th>
      <th class="text-center"><%= t('version.index.author') %></th>
      <th class="text-center"><%= t('version.index.checker') %></th>
      <th class="text-center"><%= t('version.index.current_version') %></th>
      <th><%= t('version.index.comments') %></th>
      <th><%= t('version.index.files') %></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td class="middle">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('version.edit'), edit_version_path(version) %></li>
              <li><%= link_to t('version.delete'), version, method: :delete, data: { confirm: 'Are you sure?' }, class: "danger" %></li>
              <li><%= button_to t('version.index.download_pdf_file'), {controller: :versions, action: :download_pdf, method: :post, file_name: version.pdf_file}, {class: "no-btn"} %></li>
              <% if version.dxf_file_name? %>
                <li><%= button_to t('version.index.download_drawing_file'), {controller: :versions, action: :download_dxf, method: :post, file_name: version.dxf_file}, {class: "no-btn"} %></li>
              <% end %>
            </ul>
          </div>
        </td>
        <td class="middle text-center"><%= version.version_number %></td>
        <td class="middle text-center"><%= version.date %></td>
        <td class="middle text-center"><%= version.author %></td>
        <td class="middle text-center"><%= version.checker %></td>
        <td class="middle text-center" style="font-size: 1.2em">
        <% if version.current_version %>
          <span class="glyphicon glyphicon-check"></span>
        <% else %>
          <%= link_to controller: :versions, action: :make_current, id: version.id do %>
            <span class="glyphicon glyphicon-unchecked"></span>
          <% end %>
        <% end %>
        </td>
        <td class="middle" width="200px"><small><%= version.comments %></small></td>
        <td class="middle text-overflow"><small><%= version.pdf_file_name %></small><br>
                           <small><%= version.dxf_file_name %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>
