<div class="admin-tools">
  <h3>Admin tools</h3>

  <ul>
    
    <li><%= link_to "Admin board", admin_index_path %></li>
    <li class="h-line"></li>
    <li><%= link_to "Users", users_path %></li>
    <ul>
      <li><%= link_to "New user", new_user_path %></li>
    </ul>
    <li class="h-line"></li>
    <li><%= link_to "Projects", controller: :admin, action: :projects %></li>
    <ul>
      <li><%= link_to "New project", new_project_path %></li>
    </ul>
    
  </ul>
</div>