<nav class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "version checker", projects_path, class: "navbar-brand" %>

  <ul class="nav navbar-nav navbar-right">
    <% if @projects.any? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_project ? "#{current_project.identifier} : #{current_project.name}" : t('navbar.projects') %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
          <% @projects.each do |project| %>
            <li><%= link_to "#{project.identifier} : #{project.name}",  controller: :projects, action: :move_to_document, id: project.id %></li>
          <% end %>
          <li class="divider"></li>
          <li><%= link_to t('navbar.my_projects'), projects_path %></li>
          <li><%= link_to t('navbar.new_project'), new_project_path %></li> 
      </ul>
    </li>
    <% end %>

    <li class="nav-menu-separator"></li>
    <li><%= link_to "EN", url_for(locale: 'en') %></li>
    <li><%= link_to "FR", url_for(locale: 'fr') %></li>

    <li class="nav-menu-separator"></li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= "#{current_user.first_name} #{current_user.last_name}" %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to t('navbar.my_account'), edit_user_path(current_user.id) %></li>
              <li><%= link_to t('navbar.my_stats'), controller: :users, action: :stats, id: current_user.id %></li> 
              <li><%= link_to t('navbar.logout'), session_path, method: :delete %></li>
            </ul>
          </li>
          <li class="nav-menu-separator"></li>
        <% else %>
          <li>
            <%= link_to t('navbar.signup'), new_user_path %>
          </li>
          <li class="nav-menu-separator"></li>
          <li class="">
            <%= link_to t('navbar.login'), new_session_path %>
          </li>
        <% end %>
        <li class="nav-menu-separator"></li>
  </ul>
</div>
</nav>