<!DOCTYPE html>
<html>
  <head>
    <title>VersionChecker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <%= render 'layouts/header' %>
    
    <% if current_user != nil && current_user.super_admin? %>
      <div class="admin-content">
        <div class="admin-board">
          <%= yield %>
        </div>
        <div class="admin-pannel">
          <%= render 'layouts/admin_tools' %>
        </div>
      </div>
    <% else %>
      <div class="main-content">
        <%= yield %>
      </div>
    <% end %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
